<main class="page__main">
  <h1>Cocktail search</h1>
  <form>
    <input type="search" placeholder="Search a cocktail" class="js-searchText" value="">
    <input type="button" class="js-searchButton" value="Search">
    <input type="button" class="js-searchReset" value="Reset">
  </form>
  <section class="listSection">
    <div>
      <h2>All cocktails</h2>
      <ul class="js-cocktailList">

      </ul>
    </div>
    <div>
      <h2>Favourites</h2>
      <ul class="js-cocktailFavourites">

      </ul>
    </div>
  </section>
</main>
