.page__main{
    font-family: $font-kawaii;
    text-align: center;
    height:100vw;
    background-color: $lightGray;
    .searchStyle{
        margin:15px;
        border: 2px solid $lightCream;
        border-radius: 7px;
        background-color: $lightCream;
        height: 25px;
        padding: 20px;
        margin-bottom: 30px;  
        &:hover {
            border: 2px solid $lollipop;
        } 
    }
    .searchButtonStyle{
        padding: 12px;
        margin:15px 0px;
        border: 2px solid $lollipop;
        border-radius: 7px;
        background-color: $lollipop;
        color: $lightCream;
        cursor:pointer;
        &:hover {
            border: 2px solid $lightCream;
        }
    }
    .resetStyle{
        padding: 12px;
        margin:15px 0px;
        border: 2px solid $lollipop;
        border-radius: 7px;
        background-color: $lollipop;
        color: $lightCream;
        cursor:pointer;
        &:hover {
            border: 2px solid $lightCream;
        }
    }


    .mainTitle{
        padding:50px 0px 0px 50px;
        color: $lollipop;
    }
    .sectionAll{
        border-radius:200px;
        
        .sectionTitleAll{
            padding:15px;
            background-color: $pastelBlue;
            color: $lightCream;
       
            
        }
        .ulStylesAll{
            text-decoration: none;
            list-style-type: none;
            border: 3px solid $pastelBlue;
      
            background-color: $lightCream;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            grid-gap: 5px;
            width: 35vw;
            padding-right: 15px;
            li{
                margin: 15px; 
                width:150px;
                background-color: $pastelBlue;
                border-radius:10px;
                padding-bottom:8px;
                padding-top:10px;
                margin:15px;
                cursor:pointer;
                .cocktailImgStyle{
                    width: 130px;
                    border-radius:7px;
                }
                .cocktailTitle{
                    width: 150px;
                    color: $lightCream;
                    background-color: $pastelBlue;
                    font-weight: 300;
                    font-size: 15px;
                }
            }
            .selected{
                background-color: $pastelPink;
                .cocktailTitle{
                    width: 150px;
                
                    background-color: $pastelPink;
                }
            }
            
        }
    }
    .sectionFav{
        .sectionTitleFav{
            padding:15px;
            background-color:$pastelPink;
            color: $lightCream;
        }
        .ulStylesFav{
            text-decoration: none;
            list-style-type: none;
            border: 3px solid $pastelPink;
            background-color: $lightCream;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            grid-gap: 5px;
            width: 35vw;
            li{
                margin: 15px;
                padding-top:10px;
                width:150px;
                background-color: $pastelPink;
                border-radius:10px;
                color: $lightCream;
                padding-bottom:4px;
                .cocktailImgStyle{
                    width: 130px;
                    border-radius:7px;
                    
                }
                .cocktailTitle{
                    width: 150px;
                    font-weight: 300;
                    font-size: 15px;
                    background-color: $pastelPink;
                }
            }      
        }
    }
}
